@page
@model IndexModel
@{
    ViewData["Title"] = "Get Inspired";
}

<div id="background">
    <div class="text-center center" onload="startTime(); startDate()" >
     <div id="content">
            <div id="date"></div>
            <div id="display"></div>
            <div class="text-center">
                <!--Quote displays here-->
                <p id="quote">
                    "Whenever I'm about to do something, I think, 
                    'Would an idiot do that?' And if they would, 
                    I do not do that thing." <br/> - Dwight Schrute
                </p>
                <div>
                    <button data-tooltip="New Quote" class="refreshBtn tooltip-left" onclick="newQuote()"><i class="fa fa-redo"></i></button>
                    <button data-tooltip="Copy Quote" class="copyBtn tooltip-right" onclick="copyToClipboard('#quote')"><i class="fa fa-clipboard-list"></i></button>
                </div>
            </div>  
     </div>



    </div>
</div>