@page
@model IndexModel
@{
    ViewData["Title"] = "Get Inspired";
}

<div id="background">
    <div class="text-center center" onload="startTime(); startDate()" >
     
            <div id="date"></div>
            <div id="display"></div>
            <div id="content" class="text-center">
                <!--Quote displays here-->
                <p id="quote">
                    "Whenever I'm about to do something, I think, 
                    'Would an idiot do that?' And if they would, 
                    I do not do that thing." <br/> - Dwight Schrute
                </p>
                <div>
                    <button style="background:none;border:none;cursor:pointer;" onclick="newQuote()"><i class="fa fa-redo"></i></button>
                </div>
            </div>


    </div>
</div>