@page
@model IndexModel
@{
    ViewData["Title"] = "Get Inspired";
}

<div id="background">
    <div class="text-center center" onload="startTime(); startDate()" >
     
            <div id="date"></div>
            <div id="display"></div>
            <div id="content" class="text-center">
                <!--Quote displays here-->
                <p id="quote">
                    "you are magic" <br/> - me
                </p>
            </div>
      
    </div>
</div>